{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "menubar.html" %}

<div class="container">
    
    <h1 class="heading">Customer Ledger</h1>
    <div class="form_background">
        <div class="card">
            <form action = "/add_customer_ledger" method = "POST">
            {% csrf_token %}
                <input type="hidden" name="form_token" value="{{ request.session.form_token }}">
                <input type="hidden" name="customer_ledger_id" value="{{ customer_ledger.id }}">
                <table>
                    <tr>
                        <td><span class="form_text">Customer Name</span></td>
                        <td><input type="text" placeholder="Customer Name" name="name" required="" value="{{ customer_ledger.name }}"/></td>
                    </tr>
                    <tr>
                        <td><span class="form_text">Customer Contact</span></td>
                        <td><input
                                type="text"
                                placeholder="+91 XXXXXXXXXX"
                                name="contact"
                                class="mobile"
                                value="{{ customer_ledger.contact }}"
                                required="" /></td>
                    </tr>
                    <tr>
                        <td><span class="form_text">Customer Address</span></td>
                        <td><input type="textarea" name="address" value="{{ customer_ledger.address }}"/></td>
                    </tr>
                    <tr>
                        <td><button type="reset" class=" btn-l btn-14">Clear</button></td>
                        <td><button type="submit" class=" btn-l">Submit</button></td>
                    </tr>

                </table>
            </form>
        </div>

    </div>
    <div class="clearfix"> </div>
    <div class="search-custom-table">
        <div class="form_background">
        <div class="card search_text_box">
        <input type="text" placeholder="Search Text ..." name="search_text"  class="customer_ledger_search_text"/>
        </div></div>
    </div>
    <div class="search-result hidden">
        <div class="form_background">
        <div class="card result">
            <h1>No Result Found ...!</h1>
        </div>
        </div>
    </div>
    <div class="custom-table-div">
    <table class="custom-table" id="tableWrapper">
        <thead>
            <tr>
                <td>Si No</td>
                <td>Customer Name</td>
                <td>Contact</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody>
            {%for customer in customer_ledger_list %}
                <tr>
                    <td><a href="/edit_customer_ledger_entry/{{customer.id}}">{{ customer.id}}</a></td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.contact}}</td>
                    <td>{{customer.address}}</td>
                    <td>
                        <input type="button" value="Edit" class="edit_button" onclick="location.href = '/edit_customer_ledger/{{customer.id}}';"/>&nbsp;
                        <input type="button" value="Delete" class="delete_button" onclick="location.href = '/delete_customer_ledger/{{customer.id}}';"/>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
        <div class="page-top-mid1">
            <ul class="page-mid2">
                <li><span class="pre1"  onclick="location.href = '/customer_ledger/prev/{{current_page}}';" style="cursor: pointer">PREV<i class="fa fa-arrow-left"></i></span></li>
                <li><a class="next-top1" href="/customer_ledger/next/{{current_page}}">NEXT<i class="fa fa-arrow-right next1"></i></a></li>
            </ul>
    </div>
    <div class="clearfix"> </div>
        </div>
</div>
{% if message %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr.error("{{ message }}");
    });
</script>
{% endif %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'js/customer_ledger/customer_ledger.js'%}"></script>
{% endblock %}