{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'menubar.html' %}

<div class="container">
  <h1 class="heading">Farmer Ledger</h1>
  <div class="form_background">
    <div class="card">
      <form action="/add_farmer_ledger" method="POST">
        {% csrf_token %}
        <input type="hidden" name="form_token" value="{{ request.session.form_token }}">
         <input type="hidden" name="farmer_ledger_id" value="{{ farmer_ledger.id }}">
        <table>
          <tr>
            <td><span class="form_text">Farmer Name</span></td>
            <td>
              <input
                type="text"
                placeholder="Farmer Name"
                name="name"
                value="{{ farmer_ledger.name }}"
                required=""
              />
            </td>
          </tr>
          <tr>
            <td><span class="form_text">Farmer Contact</span></td>
            <td>
              <input
                type="text"
                placeholder="+91 XXXXXXXXXX"
                name="contact"
                required=""
                value="{{ farmer_ledger.contact }}"
                class="mobile"
              />
            </td>
          </tr>
          <tr>
            <td><span class="form_text">Place</span></td>
            <td><input type="textarea" name="place" value="{{ farmer_ledger.place }}" /></td>
          </tr>
          <tr>
            <td><button type="reset" class="btn-l btn-14">Clear</button></td>
            <td><button type="submit" class="btn-l">Submit</button></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="search-custom-table">
    <div class="form_background">
      <div class="card search_text_box">
        <input
          type="text"
          placeholder="Search Text ..."
          name="search_text"
          class="farmer_ledger_search_text"
        />
      </div>
    </div>
  </div>
  <div class="search-result hidden">
    <div class="form_background">
      <div class="card result">
        <h1>No Result Found ...!</h1>
      </div>
    </div>
  </div>

  <div class="custom-table-div">
        <table class="custom-table" id="tableWrapper">
      <thead>
        <tr>
          <td>Si No</td>
          <td>Farmer Name</td>
          <td>Contact</td>
          <td>Place</td>
        </tr>
      </thead>
      <tbody>
        {%for farmer in farmer_ledger_list %}
        <tr>
          <td>
            <a href="/edit_farmer_ledger_entry/{{farmer.id}}"
              >{{ farmer.id}}</a
            >
          </td>
          <td>{{farmer.name}}</td>
          <td>{{farmer.contact}}</td>
          <td>{{farmer.place}}</td>
           <td>
                        <input type="button" value="Edit" class="edit_button" onclick="location.href = '/edit_farmer_ledger/{{farmer.id}}';"/>&nbsp;
                        <input type="button" value="Delete" class="delete_button" onclick="location.href = '/delete_farmer_ledger/{{farmer.id}}';"/>
           </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="page-top-mid1">
      <ul class="page-mid2">
        <li>
          <span
            class="pre1"
            onclick="location.href = '/farmer_ledger/prev/{{current_page}}';"
            style="cursor: pointer"
            >PREV<i class="fa fa-arrow-left"></i
          ></span>
        </li>
        <li>
          <a class="next-top1" href="/farmer_ledger/next/{{current_page}}"
            >NEXT<i class="fa fa-arrow-right next1"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

{% endblock %}
