/venv/
*.pyc
*.firebase-adminsdk-*.json
serviceAccountKey.json
/vegitable/serviceAccountKey.json

vegitable/shops/__pycache__/*

.env

/vegitable/assets
/venv
.idea/misc.xml
.idea/vegitables.iml
/.idea
.env
