{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "menubar.html" %}


<div class="container">

    <div class="comment">
        <form action = "add_expenditure_entry">
            <div>
                <button type="button" class=" btn-l btn-2 " onclick="location.href = 'add_expenditure_entry';" style="float:right;">Add New Expenditure Entry</button>
                <div class="clearfix"> </div>
            </div>
        </form>

    </div>
    <div class="comment-your">
        <span>Total Amount</span>
        <input type="text" placeholder="Total amount" name = "total_amount" readonly value="{{total_amount}}" style="width:20%" tabindex="1">
        <br/><br/>
    </div>
    &nbsp;
    <div class="clearfix"> </div>
    <table class="custom-table">
        <thead >
            <tr>
                <td>Bill No</td>
                <td>Date</td>
                <td>Expense Type</td>
                <td>Remark</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            {%for expenditure in expenditure_detail %}
            <tr>
                <td><a href="/edit_expenditure_entry/{{expenditure.id}}">{{ expenditure.id}}</a></td>
                <td>{{expenditure.date}}</td>
                <td>{{expenditure.expense_type}}</td>
                <td>{{expenditure.remark}}</td>
                <td>{{expenditure.amount}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
        

    <div class="page-top-mid1">
            <ul class="page-mid2">
                <li><span class="pre1"  onclick="location.href = '/expenditure/prev/{{current_page}}';" style="cursor: pointer">PREV<i class="fa fa-arrow-left"></i></span></li>
                <li><a class="next-top1" href="/expenditure/next/{{current_page}}">NEXT<i class="fa fa-arrow-right next1"></i></a></li>
            </ul>
    </div>
    <div class="clearfix"> </div>

</div>
{% endblock %}