{% load static %}

<div class="container">
  <nav class="mainmenu">
    <ol>
      <li class="menu-item">
        <a href="#">Entry</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="/home">Arrival Entry</a></li>
          <li class="menu-item"><a href="/sales_bill_entry">Sales Entry</a></li>
          <li class="menu-item"><a href="/patti_list">Patti Entry</a></li>
          <li class="menu-item"><a href="/expenditure_entry">Expenditure Entry</a></li>
        </ol>
      </li>
      <li class="menu-item">
        <a href="#">Report</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="/home">Arrival Report</a></li>
          <li class="menu-item">
            <a href="/sales_bill_report">Sales Report</a>
          </li>
          <li class="menu-item"><a href="/patti_list">Patti Report</a></li>
          <li class="menu-item"><a href="/expenditure_entry">Expenditure Report</a></li>
        </ol>
      </li>

      <li class="menu-item">
        <a href="#">Ledger</a>
        <ol class="sub-menu">
          <li class="menu-item">
            <a href="/customer_ledger">Customer Ledger</a>
          </li>
          <li class="menu-item">
            <a href="/farmer_ledger">Farmer Ledger</a>
          </li>
        </ol>
      </li>
      <li class="menu-item"><a href="/inventory">Inventory</a></li>
      <li class="menu-item"><a href="/profile">Profile</a></li>
      <li class="menu-item"><a href="/logout">Logout</a></li>
    </ol>
  </nav>

  <div class="clearfix"></div>
</div>
