{% load static %}

<div class="container">

<div class="full-navigation6">
				<div class="container">
					<div class="full-navigation6-social">
				<!--<ul class="nav-social">
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				</ul>-->
				<div class="clearfix"> </div>
				</div>
				<div class="full-nav-top-top">
				<div class="full-nav-left1">
					<a href="#"><img src="{% static 'images/icon.png'%}" width="60" height="60" alt=""></a>
				</div>

					<div class="full-navigation-nav1">

						<span class="nav-full"><i class="fa fa-bars"></i>
							 </span>
						<script>
							$( "span.nav-full" ).click(function() {
							  $( "ul.top-nav2" ).slideToggle( "slow", function() {
							    // Animation complete.
							  });
							});
						</script>

					<ul class="top-nav2">
						<li><a href="/home">Arrival Entry</a></li>
						<li><a href="/sales_bill_entry">Sale Bill</a></li>
						<li><a href="/patti_list">Patti </a></li>
						<li><a href="/misc_entry">Misc Entry</a></li>
						<li><a href="/profile">Profile</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>

</div>