{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "menubar.html" %}



<div class="container">

    <div class="comment" style="margin-bottom:30%">

            <h3 style="font-size:25px; font-weight:bold; padding-top:5%;padding-bottom:3%;">Arrival<span> entry</span></h3>

            <form action = "/add_arrival" id="arrival_entry_form" method = "POST">
                {% csrf_token %}
                <div class="comment-your" style="width:45%;margin-bottom:2%">
                    <span>Bill Number</span>                    
                    <input type="text"  name="arrival_id" value="{{arrival_detail.id}}" readonly>
                </div>
                <div class="comment-your" style="width:45%;margin-bottom:2%; margin-left:3%">
                    <span>Date</span>
                    <input type="date" name = "arrival_entry_date" class="arrival_entry_date" required="" value="{{today|date:'Y-m-d'}}" >
                </div>
                
                <div class="clearfix"> </div>


                <div class="comment-your" style="width:45%;margin-bottom:2%">
                    <span>Gp No</span>
                    <input type="text" placeholder="Gp Number" name = "gp_number" value="{{arrival_detail.gp_no}}" required="">
                </div>
                
                <div class="comment-your" style="width:45%;margin-bottom:2%">
                    <span>Patti Name</span>
                    <input type="text" placeholder="Patti Name" name = "patti_name" value="{{arrival_detail.patti_name}}" required="">
                </div>
                <br>
                <div class="clearfix"> </div>

                <br>
                <div class="comment-your" style="width:45%;margin-bottom:2%">
                    <span>Total Bags</span>
                    <input type="text" class="number_only" placeholder="Total Number of Bags" id="total_number_of_bags" name="total_number_of_bags" value="{{arrival_detail.total_bags}}" required="">
                </div>
                
                <div class="comment-your" style="width:45%;margin-bottom:2%">
                    <span>Lorry No</span>
                    <input type="text" placeholder="Lorry Number" class="arrival_entry_lorry_number" name="lorry_number" value="{{arrival_detail.lorry_no}}" required="">
                </div>
                <div class="clearfix"> </div>

                <button type="button" class=" btn-l btn-2 " id="add_arrivel_entry_list">Add Arrival Entry</button>
                <div class="clearfix"> </div>

                <br/><br/>

                <div>
                    <h3 style="font-size:25px; font-weight:bold;padding-bottom:3%;">Arrival<span> entries</span></h3>
                    <div class="clearfix"> </div>
                </div>
                <table id="tableWrapper" style="display:block;border-collapse: separate;border-spacing: 0 1em;">
                    <tbody>
                        <tr>
                            <td>Former Name</td>
                            <td>Iteam Name</td>
                            <td>Qty</td>
                            <td>Weight</td>
                            <td>Bag Mark</td>
                            <td>Advance Amount</td>
                        </tr>
                    </tbody>
                    {% if NEW == true %}
                    <tr style='margin-top:3%;margin-bottom:3%;' id ="0_child">
                        <td>
                            <div class='comment-your'>
                                <input type='text' placeholder='Former Name' name ="0_farmer_name" required=''>
                            </div>
                        </td>
						<td>
                            <div class='comment-your'>
                                <select  name ="0_iteam_name" id ="0_iteam_name">
                                    <option value="Onion">Onion</option>
                                    <option selected="true" value="Potato">Potato</option>
                                    <option value="Ginger">Ginger</option>
                                    <option value="Garlic">Garlic</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class='comment-your'>
                                <input type='text' placeholder='Qty' name ="0_qty" id="0_qty" required='' class="qty_validation number_only">
                            </div>
                        </td>
                        <td>
                            <div class='comment-your'>
                                <input type='text' placeholder='Weight' name ="0_weight" class="decimal_number_only" required=''>
                            </div>
                        </td>
                        <td>
                            <div class='comment-your'>
                                <input type='text' placeholder='Mark' name ="0_remark" required=''>
                            </div>
                        </td>
                        <td>
                            <div class='comment-your'>
                                <input type='text' placeholder='Advance Amount' name ="0_advance_amount" value="0" required=''>
                            </div>
                        </td>
                        <td>
                            <div class='tog-top-4'>
                                <img class='close_button' src="{% static 'images/remove.png' %}" name="0"/>
                             </div>
                        </td>
                    </tr>
                    {% else %}

                        {% for iteam in arrival_goods_objs %}
                        <tr style='margin-top:3%;margin-bottom:3%;' id ="{{iteam.id}}_modify_child">
                            <td>
                                <div class='comment-your'>
                                    <input type='text' placeholder='Former Name' name ="{{iteam.id}}_modify_farmer_name" value="{{iteam.former_name}}" required=''>
                                </div>
                            </td>
                            <td>
                                <div class='comment-your'>
                                    <select  name ="{{iteam.id}}_modify_iteam_name" id ="{{iteam.id}}_modify_iteam_name">
                                        <option value="Onion" {% if iteam.iteam_name == 'Onion' %}selected{% endif %}>Onion</option>
                                        <option value="Potato" {% if iteam.iteam_name == 'Potato' %}selected{% endif %}>Potato</option>
                                        <option value="Ginger" {% if iteam.iteam_name == 'Ginger' %}selected{% endif %}>Ginger</option>
                                        <option value="Garlic" {% if iteam.iteam_name == 'Garlic' %}selected{% endif %}>Garlic</option>
                                    </select>

                                </div>
                            </td>
                            <td>
                                <div class='comment-your'>
                                    <input type='text' placeholder='Qty' id ="{{iteam.id}}_modify_qty" name ="{{iteam.id}}_modify_qty" value="{{iteam.qty}}" class="qty_validation number_only" required=''>
                                </div>
                            </td>
                            <td>
                                <div class='comment-your'>
                                    <input type='text' placeholder='Weight' name ="{{iteam.id}}_modify_weight" value="{{iteam.weight}}" required=''>
                                </div>
                            </td>
                            <td>
                                <div class='comment-your'>
                                    <input type='text' placeholder='Mark' name ="{{iteam.id}}_modify_remark" value = "{{iteam.remarks}}" required=''>
                                </div>
                            </td>
                            <td>
                                <div class='comment-your'>
                                    <input type='text' placeholder='Advance Amount' name ="{{iteam.id}}_modify_advance_amount" value = "{{iteam.advance}}" required=''>
                                </div>
                            </td>
                            <td>
                                <div class='tog-top-4'>
                                    <!--<img class='close_button' src="{% static 'images/remove.png' %}" name="{{iteam.id}}_modify" />-->
                                    <input type="hidden" name="{{iteam.id}}_arrival_goods_id" value="{{iteam.id}}">
                                 </div>
                            </td>
                        </tr>
                        {% endfor %}

                    {% endif %}
                </table>
                <div class="clearfix"> </div>

                <button type="submit" id= "save" class=" btn-l btn-2 " hidden>Save</button>
                <div class="clearfix"> </div>
                
            </form>

    </div>


    

</div>
{% endblock %}