{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "menubar.html" %}


<div class="container">

    <div class="comment">
        <form action = "add_patti_entry">
            <div>
                <button type="button" class=" btn-l btn-2 " onclick="location.href = '/add_new_patti_entry';" style="float:right;">Add New Patti Entry</button>
                <div class="clearfix"> </div>
            </div>
        </form>

    </div>
    
    
    <div class="clearfix"> </div>

    <table class="custom-table">
        <thead>
            <tr>
                <td>Bill No</td>
                <td>Date</td>
                <td>Lorry Number</td>
                <td>Farmer Name</td>
                <td>Total Weight</td>
                <td>Advance</td>
                <td>Net amount</td>
            </tr>
        </thead>
        <tbody>
            {%for patti in patti_entry_detail %}
                <tr>
                    <td><a href="/edit_patti_entry/{{patti.id}}">{{ patti.id}}</a></td>
                    <td>{{patti.date}}</td>
                    <td>{{patti.lorry_no}}</td>
                    <td>{{patti.farmer_name}}</td>
                    <td>{{patti.total_weight}}</td>
                    <td>{{patti.advance}}</td>
                    <td>{{patti.net_amount}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="page-top-mid1">
            <ul class="page-mid2">
                <li><span class="pre1"  onclick="location.href = '/patti/prev/{{current_page}}';" style="cursor: pointer">PREV<i class="fa fa-arrow-left"></i></span></li>
                <li><a class="next-top1" href="/patti/next/{{current_page}}">NEXT<i class="fa fa-arrow-right next1"></i></a></li>
            </ul>
    </div>
    <div class="clearfix"> </div>

</div>
{% endblock %}