{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "menubar.html" %}

<div class="container">
	<div class="drop-down top_height_30">
		<div class="drop-top1">
			<h3>Select  <span>  Module</span> </h3>
		</div>

		<div class="drop-top1">
			<div class="drop-menu">
				<span class="menu"><label> Choose..</label><img src="{% static 'images/dr.png' %}">
					<div class="clearfix"> </div> </span>
				<script>
					$( "span.menu" ).click(function() {
					  $( "ul.top-menu" ).slideToggle( "500", function() {
						// Animation complete.
					  });
					});
				</script>

				<ul class="top-menu" style="display: none;">
					<li><a class="report_choice">Arrival Report</a></li>
					<li><a class="report_choice">Sales Report</a></li>
					<li><a class="report_choice">Patti Report</a></li>
					<li><a class="report_choice">Misc Report</a></li>
				</ul>
			</div>
		</div>
	</div>
    
</div>

{% endblock %}