{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "menubar.html" %}


<div class="container">

    <div class="comment">
        <form action = "add_sales_bill_entry">
            <div>
                <button type="button" class=" btn-l btn-2 " onclick="location.href = 'add_sales_bill_entry';" style="float:right;">Add New Sales Bill</button>
                <div class="clearfix"> </div>
            </div>
        </form>

    </div>
    <div class="clearfix"> </div>

    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Si-No</div>
            <div class="col col-2">Customer Name</div>
            <div class="col col-3">rmc</div>
            <div class="col col-4">comission</div>
            <div class="col col-5">cooli</div>
            <div class="col col-6">Date</div>
            <div class="col col-7">total amount</div>
        </li>
        {%for sales_bill in sales_bill_detail %}
        <li class="table-row">
          <div class="col col-1"><a href="/edit_sales_bill_entry/{{sales_bill.id}}">{{ sales_bill.id}}</a></div>
          <div class="col col-2" >{{sales_bill.customer_name}}</div>
          <div class="col col-2" >{{sales_bill.rmc}}</div>
          <div class="col col-2" >{{sales_bill.comission}}</div>
          <div class="col col-2" >{{sales_bill.cooli}}</div>
          <div class="col col-2" >{{sales_bill.date}}</div>
          <div class="col col-2" >{{sales_bill.total_amount}}</div>
        </li>
        {% endfor %}

  </ul>

    <div class="page-top-mid1">
            <ul class="page-mid2">
                <li><span class="pre1"  onclick="location.href = '/sales_bill/prev/{{current_page}}';" style="cursor: pointer">PREV<i class="fa fa-arrow-left"></i></span></li>
                <li><a class="next-top1" href="/sales_bill/next/{{current_page}}">NEXT<i class="fa fa-arrow-right next1"></i></a></li>
            </ul>
    </div>
    <div class="clearfix"> </div>

</div>
{% endblock %}