
.close_button{
max-width: 30%;
cursor:pointer;
}
#dynamicTable > tbody,#dynamicTable > tr{
width:100%;
font-family:bold;
padding-bottom:10px;
}
#dynamicTable > tbody > tr >td{
width:20%;
}

.responsive-table  li {
border-radius: 3px;
padding: 25px 30px;
display: flex;
justify-content: space-between;
margin-bottom: 25px;
}

.custom-select > div > select,select{
color:#7f8c8d;
font-size:1em;
background:#fff;
width:100%;
border:1px solid #7f8c8d;
outline:none;
border-radius:5px;
padding:1em;
}

#tableWrapper  tr td{
    width: 13%;
}

#tableWrapper .comment-your{
width:80%;
}

input[type="date"] {
    height: 25px;
}

.custom-table{
    width: 100%;
    border-spacing: 0px;
    margin-top:5%;
}
.custom-table-div{
    width: 100%;
    padding-left: 20%;
    padding-bottom:10%;
}
.custom-table >thead{
    width: 100%;
}

.custom-table >thead> tr >td , .custom-table >tbody> tr >td {
    display: inline-block;
    word-wrap:break-word;
    height: 50px;
    border-collapse: inherit;
    padding-top: 2%;
    padding-left: 0.95%;
    /*border: 1px solid;*/
    width:13%;
}
.custom-table >thead> tr >td{
    background-color: #232323;
    color:aliceblue;
    font-size: 100%;
    font-weight: bolder;
}

.custom-table >tbody> tr >td{
    font-size: 20px;
    border-bottom: 1px solid rgb(2, 103, 22);
}

.custom-table >tbody> tr >td> a{
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    cursor:pointer;
}
  
/* for the small screen */
@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .custom-table >thead> tr >td , .custom-table >tbody> tr >td {
        font-size: 80%;       
    }

  }

.top_height_30{
margin-top: 10%
}

.top-menu li a {
cursor:pointer
}


/* Menu bar */
.mainmenu {
    background: #239052;
    height: 5rem;
    box-sizing: border-box;
  }
  .mainmenu ol {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  .mainmenu > ol {
    max-width: 1000px;
    padding: 0 2rem;
    display: flex;
  }
  .mainmenu > ol > .menu-item {
    flex: 1;
    padding: 0.75rem 0;
  }
  .mainmenu > ol > .menu-item:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    bottom: 5px;
    left: calc(50% - 2px);
    background: #568e6f;
    will-change: transform;
    transform: scale(0);
    transition: transform 0.2s ease;
  }
  .mainmenu > ol > .menu-item:hover:after {
    transform: scale(1);
  }
  .menu-item {
    position: relative;
    line-height: 2.5rem;
    text-align: center;
  }
  .menu-item a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: #FFF;
  }
  .sub-menu .menu-item {
    padding: 0.75rem 0;
    background: #568e6f;
    opacity: 0;
    transform-origin: bottom;
    animation: enter 0.2s ease forwards;
  }
  .sub-menu .menu-item:nth-child(1) {
    animation-duration: 0.2s;
    animation-delay: 0s;
  }
  .sub-menu .menu-item:nth-child(2) {
    animation-duration: 0.3s;
    animation-delay: 0.1s;
  }
  .sub-menu .menu-item:nth-child(3) {
    animation-duration: 0.4s;
    animation-delay: 0.2s;
  }
  .sub-menu .menu-item:hover {
    background: #568e6f;
  }
  .sub-menu .menu-item a {
    padding: 0 0.75rem;
  }
  @media screen and (max-width: 600px) {
    .sub-menu .menu-item {
      background: #568e6f;
    }
  }
  
  @media screen and (max-width: 600px) {
    .mainmenu {
      position: relative;
    }
    .mainmenu:after {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      right: 1rem;
      width: 30px;
      height: 4px;
      background: #FFF;
      box-shadow: 0 10px #FFF, 0 -10px #FFF;
    }
    .mainmenu > ol {
      display: none;
      background: #568e6f;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      animation: fade 0.2s ease-out;
    }
    .mainmenu > ol > .menu-item {
      flex: 0;
      opacity: 0;
      animation: enter 0.3s ease-out forwards;
    }
    .mainmenu > ol > .menu-item:nth-child(1) {
      animation-delay: 0s;
    }
    .mainmenu > ol > .menu-item:nth-child(2) {
      animation-delay: 0.1s;
    }
    .mainmenu > ol > .menu-item:nth-child(3) {
      animation-delay: 0.2s;
    }
    .mainmenu > ol > .menu-item:nth-child(4) {
      animation-delay: 0.3s;
    }
    .mainmenu > ol > .menu-item:nth-child(5) {
      animation-delay: 0.4s;
    }
    .mainmenu > ol > .menu-item + .menu-item {
      margin-top: 0.75rem;
    }
    .mainmenu > ol > .menu-item:after {
      left: auto;
      right: 1rem;
      bottom: calc(50% - 2px);
    }
    .mainmenu > ol > .menu-item:hover {
      z-index: 1;
    }
    .mainmenu:hover > ol {
      display: flex;
    }
    .mainmenu:hover:after {
      box-shadow: none;
    }
  }
  
  .sub-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
  }
  .menu-item:hover > .sub-menu {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    .sub-menu {
      width: 100vw;
      left: -2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  
  @keyframes enter {
    from {
      opacity: 0;
      transform: scaleY(0.98) translateY(10px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
/* End Menu Bar */

.form_background{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top:3%;
}



.form_background .card {
  height: 550px;
  background-color:white;
  padding:3% 3% 3% 3%;
  width: 50%;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}

.form_background .small_card {
  background-color:white;
  padding:3% 3% 3% 3%;
  width: 50%;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}
.small_card span{
    display: inline-block; /* Use inline-block to allow for spacing between elements */
    vertical-align: middle;
}

.small_card h1{
    display: inline; /* Display the <h1> element inline */
    margin-right: 10px;
    font-weight:bolder;
}

.small_card input[type="date"]{
    height: 50px;
    font-size:18px;
}

.form_background .result{
    height:5%;
    text-align: center;
    vertical-align: middle;
    font-size:22px;
    font:bolder;
    margin-bottom:3%;
}
.show{
    visibility:visible;
    position:relative;
}
.hidden{
    visibility:hidden;
    position:absolute;
    }
.form_background .search_text_box{
    height:5%;
    text-align: center;
    vertical-align: middle;
    font-size:22px;
    font:bolder;
}
.form_background .card table{
    border-collapse: separate;
    border-spacing: 0 1em;
}

.form_background .card td{
    text-align: center;
    vertical-align: middle;
    font-size:22px;
}
.form_background .card input[type="text"]{
    height: 50px;
    margin-left: 2%;
    padding-left:2%;
    font-size:22px;
    width:90%;
}
.form_background .card input[type="date"]{
    height: 50px;
    margin-left: 2%;
    padding-left:2%;
    font-size:22px;
    width:100%;
}
.form_background .card input[type="textarea"]{
    height: 200px;
    margin-left: 2%;
    padding-left:5%;
    font-size:22px;
    width:100%;
}

.form_background .card button[type="submit"],.form_background .card button[type="reset"]{
    margin-right:5%;
    margin-left:5%;
    width:90%;
}

.no_border{
border:0px;
border: none;
background:#f3f3f3;
}

.edit_button, .delete_button{
    border:0px;
    cursor: pointer;
    outline: none;
    border: none;
    color:white;
    font-size: 20px;

}

.edit_button{
    background:#4b5254;
}

.delete_button{
    background:#fe513f;
}

.profile {
  width: 30%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 30%;
  padding-left:35%;
}
.profile_detail{
  margin-top:5%;
}
.profile_detail  input{
    border:0;
    padding-right: inherit;
    padding-right:2%;
}
.td_right{
    width: 20%; /* Adjust the width as needed */
    overflow-x: auto;
    font-weight:bolder;
    font-size:32px;
    text-align:center;
}
.td_space{
    width: 40%; /* Adjust the width as needed */
    overflow-x: auto;
    padding-right:5%;
}

.custom input[type="date"]{
    height: 50px;
    margin-left: 2%;
    padding-left:2%;
    font-size:22px;
    width:100%;
}
.custom table{
    margin-top:5%;
    width:100%;
}
.custom tr{
    display: flex;
    align-items: center;
    text-align: center;
}

.float_right{
    float: right;
}

.popup {
    position: absolute;
    display: none;
    background:#f3f3f3;
    border-radius: 10px;
    padding:2%;
    margin-top:5%;
    margin-left:30%;
    /* Other styling properties */
}

.popup-table {
    /* Table styling properties */
}

.overlay {
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  z-index: 9999; /* Adjust the z-index as needed */
}

.popup select{
    width:80%;
}
.popup input[type="text"]{
    width:80%;
    height:35px;
    padding-left:7%;
    font-weight:bolder;
}
.popup table{
    border-collapse:separate;
    border-spacing:0 15px;
}
.popup table tr{
    width:50px;
}

.small_icon{
height:20px;
width:20px;
float:right;
margin-right:20%;
}

.card_background{
    padding:0.5%;
}

/* styles.css */
.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;
    z-index: 1;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip.active {
    opacity: 1;
}

.tooltip-content {
    display: flex;
    flex-direction: column;
}

.tooltip-table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

.tooltip-table th,
.tooltip-table td {
    border: 1px solid #fff;
    padding: 5px;
}

.tooltip-table th {
    background-color: #555;
}

.tooltip-table td {
    background-color: #777;
}

.rmc_button_choice{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}

.small_heading_left{
    font-size: 2em;
    text-align: left;
    margin-top: 2.5em;
    font-weight: 700;
    color: #000;
    font-family: 'Roboto Slab', serif;
}

.daily_report_container,.weekly_report_container{
display:none;
}
.daily_report_table_credit,.daily_report_table_cash{
margin-top:0;
}

.daily_report_date, .weekly_report_date{
display:none;
}

.shilk_container table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    font-weight: 700;
}
.shilk_container table tr {
    margin-top:20%;
}
.shilk_container input[type="date"], .shilk_container input[type="text"] {
    height: 30px;
    padding-left:2%;
    font-size:14px;
}