
.close_button{
max-width: 30%;
cursor:pointer;
}
#dynamicTable > tbody,#dynamicTable > tr{
width:100%;
font-family:bold;
padding-bottom:10px;
}
#dynamicTable > tbody > tr >td{
width:20%;
}

.responsive-table  li {
border-radius: 3px;
padding: 25px 30px;
display: flex;
justify-content: space-between;
margin-bottom: 25px;
}

.custom-select > div > select,select{
color:#7f8c8d;
font-size:1em;
background:#fff;
width:100%;
border:1px solid #7f8c8d;
outline:none;
border-radius:5px;
padding:1em;
}

#tableWrapper  tr td{
    width: 13%;
}

#tableWrapper .comment-your{
width:80%;
}

input[type="date"] {
    height: 25px;
}

.custom-table{
    width: 100%;
    border-spacing: 0px;
    margin-top:5%;
}
.custom-table-div{
    width: 100%;
    padding-left: 20%;
    padding-bottom:10%;
}
.custom-table >thead{
    width: 100%;
}

.custom-table >thead> tr >td , .custom-table >tbody> tr >td {
    display: inline-block;
    word-wrap:break-word;
    height: 50px;
    border-collapse: inherit;
    padding-top: 2%;
    padding-left: 0.95%;
    /*border: 1px solid;*/
    width:13%;
}
.custom-table >thead> tr >td{
    background-color: #232323;
    color:aliceblue;
    font-size: 100%;
    font-weight: bolder;
}

.custom-table >tbody> tr >td{
    font-size: 20px;
    border-bottom: 1px solid rgb(2, 103, 22);
}

.custom-table >tbody> tr >td> a{
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    cursor:pointer;
}
  
/* for the small screen */
@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .custom-table >thead> tr >td , .custom-table >tbody> tr >td {
        font-size: 80%;       
    }

  }

.top_height_30{
margin-top: 10%
}

.top-menu li a {
cursor:pointer
}

.form_background{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top:3%;
}



.form_background .card {
  height: 550px;
  background-color:white;
  padding:3% 3% 3% 3%;
  width: 50%;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}

.form_background .small_card {
  background-color:white;
  padding:3% 3% 3% 3%;
  width: 50%;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}
.small_card span{
    display: inline-block; /* Use inline-block to allow for spacing between elements */
    vertical-align: middle;
}

.small_card h1{
    display: inline; /* Display the <h1> element inline */
    margin-right: 10px;
    font-weight:bolder;
}

.small_card input[type="date"]{
    height: 50px;
    font-size:18px;
}

.form_background .result{
    height:5%;
    text-align: center;
    vertical-align: middle;
    font-size:22px;
    font:bolder;
    margin-bottom:3%;
}
.show{
    visibility:visible;
    position:relative;
}
.hidden{
    visibility:hidden;
    position:absolute;
    }
.form_background .search_text_box{
    height:5%;
    text-align: center;
    vertical-align: middle;
    font-size:22px;
    font:bolder;
}
.form_background .card table{
    border-collapse: separate;
    border-spacing: 0 1em;
}

.form_background .card td{
    text-align: center;
    vertical-align: middle;
    font-size:22px;
}
.form_background .card input[type="text"]{
    height: 50px;
    margin-left: 2%;
    padding-left:2%;
    font-size:22px;
    width:90%;
}
.form_background .card input[type="date"]{
    height: 50px;
    margin-left: 2%;
    padding-left:2%;
    font-size:22px;
    width:100%;
}
.form_background .card input[type="textarea"]{
    height: 200px;
    margin-left: 2%;
    padding-left:5%;
    font-size:22px;
    width:100%;
}

.form_background .card button[type="submit"],.form_background .card button[type="reset"]{
    margin-right:5%;
    margin-left:5%;
    width:90%;
}

.no_border{
border:0px;
border: none;
background:#f3f3f3;
}

.edit_button, .delete_button{
    border:0px;
    cursor: pointer;
    outline: none;
    border: none;
    color:white;
    font-size: 20px;

}

.edit_button{
    background:#4b5254;
}

.delete_button{
    background:#fe513f;
}

.profile {
  width: 30%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 30%;
  padding-left:35%;
}
.profile_detail{
  margin-top:5%;
}
.profile_detail  input{
    border:0;
    padding-right: inherit;
    padding-right:2%;
}
.td_right{
    width: 20%; /* Adjust the width as needed */
    overflow-x: auto;
    font-weight:bolder;
    font-size:32px;
    text-align:center;
}
.td_space{
    width: 40%; /* Adjust the width as needed */
    overflow-x: auto;
    padding-right:5%;
}

.custom input[type="date"]{
    height: 50px;
    margin-left: 2%;
    padding-left:2%;
    font-size:22px;
    width:100%;
}
.custom table{
    margin-top:5%;
    width:100%;
}
.custom tr{
    display: flex;
    align-items: center;
    text-align: center;
}

.float_right{
    float: right;
}

.popup {
    position: absolute;
    display: none;
    background:#f3f3f3;
    border-radius: 10px;
    padding:2%;
    margin-top:5%;
    margin-left:30%;
    /* Other styling properties */
}

.popup-table {
    /* Table styling properties */
}

.overlay {
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  z-index: 9999; /* Adjust the z-index as needed */
}

.popup select{
    width:80%;
}
.popup input[type="text"]{
    width:80%;
    height:35px;
    padding-left:7%;
    font-weight:bolder;
}
.popup table{
    border-collapse:separate;
    border-spacing:0 15px;
}
.popup table tr{
    width:50px;
}

.small_icon{
height:20px;
width:20px;
float:right;
margin-right:20%;
}

.card_background{
    padding:0.5%;
}

/* styles.css */
.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;
    z-index: 1;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip.active {
    opacity: 1;
}

.tooltip-content {
    display: flex;
    flex-direction: column;
}

.tooltip-table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

.tooltip-table th,
.tooltip-table td {
    border: 1px solid #fff;
    padding: 5px;
}

.tooltip-table th {
    background-color: #555;
}

.tooltip-table td {
    background-color: #777;
}

.rmc_button_choice{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}

.small_heading_left{
    font-size: 2em;
    text-align: left;
    margin-top: 2.5em;
    font-weight: 700;
    color: #000;
    font-family: 'Roboto Slab', serif;
}

.daily_report_container,.weekly_report_container{
display:none;
}
.daily_report_table_credit,.daily_report_table_cash{
margin-top:0;
}

.daily_report_date, .weekly_report_date{
display:none;
}

.shilk_container table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    font-weight: 700;
}
.shilk_container table tr {
    margin-top:20%;
}
.shilk_container input[type="date"], .shilk_container input[type="text"] {
    height: 30px;
    padding-left:2%;
    font-size:14px;
    font-weight: bolder;
}

/* Menu bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 10%;
    border-top: 4px solid #29ca8e;
    height: 50px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.navbar ul li {
    position: relative; /* Necessary for submenu positioning */
    margin: 0 0px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    padding: 30px 25px;
    font-weight: bolder;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    color: #fff;
    background-color: #29ca8e;
    border-radius: 0px;
}

.navbar ul li a.active {
    color: #fff;
    background-color: #29ca8e;
    border-radius: 0px;
}

/* Submenu styles */
.submenu .submenu-list {
    display: none;
    position: absolute;
    top: 260%;
    left: 0;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    width: 190%; /* Ensure it aligns with parent */
}

.submenu .submenu-list li {
    margin: 0;
}

.submenu .submenu-list li a {
    padding: 10px 20px;
    display: block;
    color: #333;
    font-size: 14px;
}

.submenu .submenu-list li a:hover {
    background-color: #29ca8e;
    color: #fff;
}

.submenu:hover .submenu-list {
    display: block;
}

.navbar .contact {
    display: flex;
    align-items: center;
    color: #29ca8e;
    font-size: 16px;
}

.navbar .contact i {
    margin-right: 8px;
}

/* Hamburger menu icon */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .hamburger {
        display: flex;
    }
    .navbar ul.show {
        display: flex;
    }
    .navbar ul li {
        margin: 0px 0;
    }
    .navbar ul li a {
        padding: 10px 20px;
        width: 100%;
        box-sizing: border-box;
    }

    /* Adjust submenu positioning for small screens */
    .submenu .submenu-list {
        position: relative;
        top: 0;
        left: 100%;
        width: auto; /* Adjust the width as needed */
        border: none;
        box-shadow: none;
        background-color: #f8f8f8;
    }
}

/*Menu End */

/* Position the logo relative so the submenu is positioned correctly */
.logo {
    position: relative;
    cursor: pointer; /* Optional, to indicate it's hoverable */
}

/* Logo Submenu Styles */
.logo-submenu {
    display: none;  /* Ensure it is hidden by default */
    position: absolute;
    top: 100%; /* Position the submenu below the logo */
    left: 0;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    width: 190px;
     visibility: hidden;
}

.logo-submenu li {
    margin: 0;
}

.logo-submenu li a {
    padding: 10px 20px;
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.logo-submenu li a:hover {
    background-color: #29ca8e;
    color: #fff;
}

/* Show the submenu when hovering over the logo */
.logo:hover .logo-submenu {
    display: block;
    visibility: visible;
}
